/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--VERY-LIGHT-GRAY);
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* END OF CSS RESET */

:root {
    --BRIGHT-ORANGE: hsl(31, 77%, 52%);
    --DARK-CYAN: hsl(184, 100%, 22%);
    --VERY-DARK-CYAN: hsl(179, 100%, 13%);

    --VERY-LIGHT-GRAY: hsl(0, 0%, 95%);

    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.cards {
    display: inline-block;
    margin: 6rem 1.6rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card {
    padding: 3.2rem;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--VERY-LIGHT-GRAY);
    font-size: 2.65rem;
    margin-block: 1.9rem 1.4rem;
}

.details {
    line-height: 1.666rem;
    margin-bottom: 1.6rem;
}

.learn-more-btn {
    background-color: var(--VERY-LIGHT-GRAY);
    border: 2px solid var(--VERY-LIGHT-GRAY);
    border-radius: 10rem;
    padding: 0.7rem 1.9rem;
}

.learn-more-btn:hover {
    color: var(--VERY-LIGHT-GRAY);
    cursor: pointer;
}

.sedans-btn {
    color: var(--BRIGHT-ORANGE);
}

.sedans-btn:hover {
    background-color: var(--BRIGHT-ORANGE);
}

.suvs-btn {
    color: var(--DARK-CYAN);
}

.suvs-btn:hover {
    background-color: var(--DARK-CYAN);
}

.luxury-btn {
    color: var(--VERY-DARK-CYAN);
}

.luxury-btn:hover {
    background-color: var(--VERY-DARK-CYAN);
}

.sedans {
    background-color: var(--BRIGHT-ORANGE);
}

.suvs {
    background-color: var(--DARK-CYAN);
}

.luxury {
    background-color: var(--VERY-DARK-CYAN);
}

@media screen and (min-width: 660px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards {
        display: flex;
        max-width: min(90%, 61.28rem);
        margin: 2.5rem 0 0 0;
    }

    .card {
        width: 100%;
        padding: min(5vw, 3.2rem);
    }

    .details {
        margin-bottom: min(6vw, 5.4rem);
    }
}